@font-face {
  font-family: "montserrat";
  src: url(font/Montserrat-Regular.ttf);
}


body{

	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(24, 24, 24, 15)98.49%), 
	url(images/film.jpeg);   
	background-size: cover;
	background-repeat: no-repeat;
	height: 120vh;
	background-position-y: top;
	background-color: #181818;
	background-position:top;
}

/*
header{

}
*/

.logo img{	

	width: 92px;
	height: 68px;
	margin-right: 30px;
}

h3{
	margin-top: 50px;
	padding-left: 3%;
	font-family: "montserrat";
	font-size: 1.5em;
	color:white;
}


.logo{
	margin-left: 3%;

	float:left;

}

nav{
	margin-right: 3%;

	
}
nav ul {
	padding-top: 20px;
	padding-left: 10px;
}

nav ul li {
	display: inline-block;
	margin-right: 30px;
}

nav ul li a{
	text-decoration: none;
	color:white;
	font-family: "montserrat";
}

.menudroite{
	float:right;

}





/*  TITRE DU FILM ET EXTRAIT*/


.titrefilm img{
	margin-bottom: 30px;

}



.description{
	font-family: "montserrat";
	font-size: 1.3em;
	margin-left: 3%;
	width: 40%;
	color: white;
	margin-top:10%;
}

.boutons{
	display:flex;
	margin-left: 3%;
	margin-top: 30px;
}

.play{

	border-width: 0px;
	background-color: white ;
	margin-right: 20px;
	border-radius: 10px;
	font-family: "montserrat";
	font-size: 1.2em;
	font-weight: bold;
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 50px;
	padding-right: 50px ;
  transition: ease-in-out .3s;
}



.play:hover{

	border-width: 0px;
	background-color: rgb(218 218 218 / 18%);
	margin-right: 20px;
	border-radius: 10px;
	font-family: "montserrat";
	font-size: 1.2em;
	font-weight: bold;
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 50px;
	padding-right: 50px ;
}







.info{

	border-width: 0px;
	background-color: #191818cd ;
	color:white;
	margin-right: 20px;
	border-radius: 10px;
	font-family: "montserrat";
	font-size: 1.2em;
	font-weight: bold;
	padding-top:17px;
	padding-bottom:17px;
	padding-left: 50px;
	padding-right: 50px ;
  transition: ease-in-out .3s;
}



.info:hover {
  border-width: 0px;
  background-color: #19181833;
  color: white;
  margin-right: 20px;
  border-radius: 10px;
  font-family: "montserrat";
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
}



.gradient{

	background-color: #181818 ;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	
}









/* SLIDER */


.carousel{
	display:flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  width: 98%;

}




/* CONFIG SLIDER DEROULANT */

.horizontal-scroll{
  width: 780px;
  height: 300px;
  border-radius: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:relative;
  overflow:hidden;
}


.horizontal-scroll .btn-scroll-left{

  
  background-color: #fff ;
  color: #999;
  box-shadow: 0 0 10px #999;
  padding: 5px 8px;
  border: 0;
  border-radius: 50%;
  margin: 0 5px;
  z-index: 1;
  cursor:pointer;
  transition: 1s;


}


.horizontal-scroll .btn-scroll-right{

  
  background-color: #fff ;
  color: #999;
  box-shadow: 0 0 10px #999;
  padding: 5px 8px;
  border: 0;
  border-radius: 50%;
  margin: 0 5px;
  z-index: 1;
  cursor:pointer;
  transition: 1s;


}




.storys-container{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  left:0;
  transition: 0.5s all ease-out;
}




.slider{
	
	display:flex;
	width: auto;
	height: auto;	
	justify-content: start;
	overflow:auto;
}





.slider img{
	border-radius:12px;
}

.fleshgauche{
	width: auto;
	height: auto;
	position:relative;
	width: auto;
	height: auto;
	float:left;

}
.fleshgauche img{

	border-radius: 12px;
	margin-right: 15px;

}

.fleshdroite{
	width: auto;
	height: auto;
	position:relative;
	width: auto;
	height: auto;
	float:right;
	margin-left: 15px;
    margin-right: 15px;
	border-radius: 12px;

}

.fleshdroite img{

	border-radius: 12px;

}



.footer{

  margin-top:10%;
  
}

.info-footer{

  display:flex;

  justify-content: center;
  padding-bottom: 5%;
}


.info-footer ul li{
  
  list-style-type: none;
  line-height: 3em;


}
.info-footer ul li a{
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "montserrat";
  font-size: 19px ;
  color:#999;
  text-align: left;
  text-decoration: none;
  list-style-type: none;

}

.boutton_store{
  margin-top: 15%;
  margin-right: 5px;
}

.copyright{
  margin-top: 17%;
}


/*--------------------------------------- The Modal (background)---------------------------------------------- */



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    transition: 4s;
  }
  


  /* Modal Content Box*/
  .modal-content {
    background-color: #181818;
    margin :auto;
    margin-top: 2%;
    padding: 0px;
    border-radius: 12px;
    width: 50%;
    height:90%;

  }





  /* The Close Button */
  .close {
    float: right;
    padding-top:20px;
    padding-right: 15px;  
  }



  /* Image du film */
  .imgfilm{
    background-color: black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(24, 24, 24, 15)95.49%), url(images/preview.webp);   
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7%;

  }


  .title-film{
    padding-left: 3%;
    width: 97%;
    float:left;
    clear:both;
    padding-top: 0%;
    position:relative;
    top:34%;

  }

  .imgfilm .title-film img{
    width: 20%;
  }
 



  .barprogressive{
    display:flex;
    height: 52px;
  }

  .svg{
    margin-top:30px;
  }


  .temps{
    padding-top: 23px;
    margin-left: 14px;
    font-family: "montserrat";
    font-weight: bold;
    color:rgb(218, 218, 218);
  }


  .imgfilm .title-film .play img{
    width: 200px;
  }


  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* Transformation */

.item{
	width: 100%;
	height: 100%;
	width: auto;
	height: auto;
	margin-right: 15px;
	position:relative;
  transition: transform .3s;


}

.item:hover{
  -ms-transform: scale(0.9) translate(-10px); /* IE 9 */
  -webkit-transform: scale(0.9) translate(-10px); /* Safari 3-8 */
  transform: scale(0.9) translateY(-10px);
  }





  /* --------------------------------------------- INFOS DÉTAILLÉES DE LA MODALE --------------------------------------------- */


 
  .infomusic{

    display: inline-flex;
    padding-left: 3%;
    font-family: "montserrat";
    color: white;
    font-size: 1.0em;
    width: 97%;
    justify-content: space-between;  
  }

  .infomusic .column2{
    margin-right: 3%;
    font-size: 0.8em;     
  }

  .infomusic .column1{
    padding-right: 34px;        
  }

  
  .infomusic .column2 .infosdetails{
    margin-bottom: 12px;
  }


  .infomusic .column1 .notedate{
    display: flex;
    margin-bottom: 20px;
  }

  .infomusic .column1 .titre{
    display: flex;
    margin-bottom: 31px;
    font-size: 1.4em;
    color:rgb(187, 187, 187); 
  }

  .infomusic .column1 .titre .titre-api{
    margin-left: 22px; 
    color:white;  
  }

  .infomusic .column1 .notedate .note{
    display: flex;
    color:rgb(187, 187, 187);
    font-size: 0.9em;
  }



  .infomusic .column1 .notepays{
    display: flex;
    margin-bottom: 20px;
  }

  .infomusic .pays{
    display: flex;
    color:rgb(187, 187, 187);
  }

  .infomusic .column1 .notepays .note{
    display: flex;
    margin-left: 27px;
    color:rgb(187, 187, 187);

  }

  .infomusic .column1 .notepays .note .imdb-api{
    margin-left:22px;
    color: white;
  }
  

  .infomusic .column1 .pays .pays-api{
    margin-left: 22px;
    font-weight: bold;
    color: white;
  }

  .infomusic .column1 .notedate .note-api{
    margin-left: 22px;
    font-weight: bold;
    color:white;
    font-size: 0.9em;
  }
  

  .infomusic .column1 .notedate .date .date-api{
    margin-left: 22px;
    font-weight: bold;
    color:white;
    font-size: 0.9em;

  }

  .infomusic .column1 .notedate .date{
    display: flex;
    margin-left: 30px;
    color:rgb(187, 187, 187);
  }


  strong{
    font-weight: normal;
    color:rgb(151, 151, 151);
  }

 .good .play{

	border-width: 0px;
	background-color: white ;
	margin-right: 20px;
	border-radius: 10px;
	font-family: "montserrat";
	font-size: 1.2em;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 50px;
	padding-right: 50px ;
	margin-top: 10px;
}

.realisateur-api{
  margin-bottom: 2%;
}

.genre-api{
  margin-bottom: 2%;
}

.resultat-api{
  margin-bottom: 2%;
}

.acteurs-api{
  margin-bottom: 2%;
  line-height: 1.7;

}


.column1{

  width: 60%;
}

.column2{

  width: 40%;
}

.description-api{

  width:100%;
}




/* max, si l'écran est inf ou égal alors {...} */

@media (max-width : 1381px) {

  .modal-content {
    background-color: #181818;
    margin :auto;
    margin-top: 2%;
    padding: 0px;
    border-radius: 12px;
    width: 75%;
    height:90%;

  }

  .infomusic {
    display: inline-flex;
    padding-left: 3%;
    font-family: "montserrat";
    color: white;
    font-size: 0.9em;
    width: 97%;
    justify-content: space-between;
}

}



